// Popular Resets (Reset y Normalize 😍)
@import "resets";

// Bringing Manila from its own bower repo
@import "manila";

@mixin debug {
  @at-root {
    * {
      outline: 1px solid red;
    }
  }
}

@mixin std-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

@mixin is($state) {
  &.is-#{$state} {
    @content;
  }
}

// Daddy-is
@mixin dis($state) {
  .is-#{$state} & {
    @content;
  }
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );
  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin ieTarget {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}
