@import "../abstracts/index.scss";
// Atomic typography
.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center {
  text-align: center;
}

.no-decoration {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

// Font Weights
.fw-thin {
  font-weight: 100;
}

.fw-extra-light {
  font-weight: 200;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extra-bold {
  font-weight: 800;
}

.fw-ultra-bold {
  font-weight: 900;
}
